.movies {
  width: calc(100% - 10px * 2);

  margin: 0 auto;
  padding: 40px 0 30px;
}

.movies__list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;

  padding: 0;
}