.promo {
  background-color: #073042;

  margin: 0 auto;
  padding: 70px 0 30px;
}

.promo__cover-image {
  width: clamp(210px, 5vw, 310px);
  aspect-ratio: 105 / 103;

  background-image: url('../../images/lead-cover.svg');
  background-repeat: no-repeat;
  background-position: center;

  display: block;

  margin: 0 auto;
}

.promo__title {
  width: 100%;

  font-size: 30px;
  text-align: center;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -1.2px;

  margin: 44px 0 24px;
}

.promo__subtitle {
  width: calc(100% - (30px * 2));

  color: #8397A0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;

  margin: 24px auto 80px;
}

.promo__link {
  max-width: 129px;
  max-height: 36px;
  box-sizing: border-box;

  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  line-height: 16px;

  display: block;

  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid #8397a0;
  padding: 10px;

  opacity: 1;

  transition: opacity .4s ease-in-out;
}

.promo__link:hover {
  opacity: .5;

  transition: opacity .2s ease-in-out;
}