.title {
  box-sizing: border-box;
  
  font-size: clamp(18px, 4vw, 22px);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  
  margin-bottom: 60px;
  border-bottom: #dadada solid 1px;
  padding-bottom: 28px;
}

@media (min-width: 768px) {
  .title {
    letter-spacing: -0.88px;
  }
}