html {
  scroll-behavior: smooth;
}

body {
  background-color: #202020;

  color: #fff;
  font-family: 'Inter', Tahoma, sans-serif;
  font-style: normal;

  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}