.header {
  background-color: #202020;

  display: block;
  position: sticky;

  top: 0;
  left: 0;
  padding: 18px 0;
}

.header_hidden {
  display: none;
}

.header_place_main {
  background-color: #073042;
}

.header__container {
  width: calc(100% - (14px * 2));

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}