.header {
  background-color: #202020;
  
  display: block;
  position: sticky;
  
  z-index: 1;
  top: 0;
  left: 0;
  
  padding: 18px 0;
}

.header_hidden {
  display: none;
}

.header_place_main {
  background-color: #073042;
}

.header__container {
  width: calc(100% - (14px * 2));
  max-width: 708px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
}

.header__login-menu {
  list-style: none;
  
  display: flex;
  flex-direction: row;
  column-gap: 14px;
  align-items: center;
  
  padding: 0;
}

.header__register-link {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  
  cursor: pointer;
  
  opacity: 1;
  
  transition: opacity .4s ease-out;
}

.header__register-link:hover {
  opacity: .5;
  
  transition: opacity .2s ease-in;
}

.header__login-link {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
  text-decoration: none;
  
  cursor: pointer;
  
  background-color: #3ddc84;
  opacity: 1;
  
  border-radius: 3px;
  padding: 5px 12px;
  
  transition: opacity .4s ease-out;
}

.header__login-link:hover {
  opacity: .5;
  
  transition: opacity .2s ease-in;
}

@media (min-width: 768px) {
  .header__container {
    width: calc(100% - (30px * 2));
    max-width: 1140px;
  }
  
  .header__register-link {
    font-size: 12px;
  }
  
  .header__login-link {
    font-size: 12px;
  
    padding: 8px 20px;
  }
}