.form {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 0 auto;
}

.form__submit {
  width: 100%;
  
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  
  cursor: pointer;
  
  background-color: #4285f4;
  opacity: 1;
  
  border: none;
  border-radius: 3px;
  padding: 15px 0;
  
  transition: opacity .4s ease-in-out;
}

.form__submit:hover {
  opacity: .7;
  
  transition: opacity .2s ease-in-out;
}

.form__submit_disabled {
  cursor: default;
  
  background-color: #8397a0;
}

.form__submit_disabled:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .form__submit {
    max-height: 45px;
    
    font-size: 14px;
  }
}