.footer {
  width: calc(100% - (10px * 2));
  max-width: 708px;

  margin: 0 auto;
  padding: 80px 0 20px;
}

.footer_hidden {
  display: none;
}

.footer__title {
  color: #8b8b8b;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;

  border-bottom: #424242 solid 1px;
  padding: 0 0 19px;
}

.footer__links-container {
  display: flex;
  flex-direction: column;
}

.footer__link-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  order: 1;

  margin: 30px auto;
  padding: 0;
}

.footer__link {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  opacity: 1;

  transition: opacity .4s ease-in-out;
}

.footer__link:hover {
  opacity: .5;

  transition: opacity .2s ease-in-out;
}

.footer__copyright {
  color: #8b8b8b;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  order: 2;

  margin: 0;
}

@media (min-width: 768px) {
  .footer {
    width: calc(100% - (30px * 2));
    max-width: 1140px;
  }

  .footer__links-container {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px;
  }

  .footer__link-list {
    flex-direction: row;
    column-gap: 20px;
    order: 2;

    margin: 0;
  }

  .footer__copyright {
    color: #fff;

    order: 1;
  }
}